{
  "root": true,
  "extends": "react-app",
  "rules": {
    "quotes": ["error", "single"],
    "prefer-arrow-callback": ["error"],
    "func-style": ["error", "expression"],
    "max-lines-per-function": ["error", 100]
  },
  "ignorePatterns": [
    "src/serviceWorker.ts",
    "**/*.stories.tsx",
    "**/*.stories.ts",
    "**/*.spec.tsx",
    "**/*.spec.ts",
    "**/*.test.tsx",
    "**/*.test.ts"
  ]
}
